<section id="about" class={`
  overflow-hidden h-screen w-screen relative
  lg:flex lg:justify-end
`}>
  <div class="lg:w-1/2 lg:px-14 lg:text-justify lg:h-full lg:pt-40">
    <h1 class={`
      text-center text-white text-3xl py-8 font-light font-text3 lg:font-text2
      lg:text-5xl
    `}>Un poco de mí</h1>
    <div class={`
      text-md px-4 h-full w-full text-justify font-text1 text-white tracking-tight flex flex-col items-center gap-y-2 [&>p]:border [&>p]:border-white/20 [&>p]:py-2 [&>p]:px-6 [&>p]:bg-black/10 [&>p]:rounded
      lg:items-start lg:[&>p]:w-full lg:text-lg lg:font-text2
    `}>
      <p>
        Nacido y criado en Chile desde 1995, hasta la fecha.
      </p>
      <p>
        Estoy titulado de Analista Programador Computacional, por consiguiente, fue que mi interés y pasión por el desarrollo web comenzó.
      </p>
      <p>
        Desde entonces me he dedicado a estudiar de manera autodidacta todo lo que pudiera tener relación al desarrollo y tecnologías web.
      </p>
      <p>
        En un mundo donde la tecnología crece a pasos agigantados, donde la era digital es la que predomina por sobre todo, ahí, en algún punto estoy yo, con ansias de poder utilizar mis conocimientos y habilidades para crear contenido digital que sirva de aporte para el mundo y rubro de la tecnología.
      </p>
    </div>
  </div>
</section>