<section id="home" class="overflow-hidden h-screen w-full relative text-center">
  <div class="text-lg px-40 h-full text-justify text-white tracking-tight flex flex-col justify-center gap-y-3 [&>p]:py-2 [&>p]:px-4 [&>p]:bg-white/5 [&>p]:rounded">
    <p class="">
      Nacido y criado en Chile desde 1995, hasta la fecha.
    </p>
    <p>
      Estoy titulado de Analista Programador Computacional, por consiguiente, fue que mi interés y pasión por el desarrollo web comenzó.
    </p>
    <p>
      Desde entonces me he dedicado a estudiar de manera autodidacta todo lo que pudiera tener relación al desarrollo web.
    </p>
    <p>
      En un mundo donde la tecnología crece a pasos agigantados, donde la era digital es la que predomina por sobre todo, ahí, en algún punto estoy yo, con ansias de poder utilizar mis conocimientos y habilidades para crear contenido digital que sirva de aporte para el mundo y rubro de la tecnología.
    </p>
    <p>
      Creo firmemente en la idea de que todos deberíamos saber programar, ya que, para mi el desarrollo web es una de las mejores cosas del mundo.
    </p>
  </div>
</section>