---
const { img, nombre, texto, altImg } = Astro.props

---

<section class={`
  flex flex-col bg-white/10 w-full
  lg:w-80 lg:h-1/2 lg:flex lg:flex-col lg:bg-white/10 lg:rounded-xl
`}>
  <div class="w-full h-40 flex justify-center">
    <img src={img} alt={altImg} class="rounded-full h-auto w-36 mt-5">
  </div>
  <div class="w-full h-full">
    <h2 class="text-xl text-white text-center pt-8 pb-4">{nombre}</h2>
    <p class="text-white text-md w-full px-4 text-center pb-10">{texto}</p>
  </div>
</section>
