---
const { title, text, clases } = Astro.props
---

<div class={`
  hover:scale-[1.01]
  overflow-auto flex justify-center items-center
  lg:hover:shadow lg:hover:bg-[#03687F] lg:hover:h-[17rem]
  [&>p]:lg:hover:visible [&>h2]:lg:hover:invisible 
  [&>p]:active:visible [&>h2]:active:invisible
`}>
  <h2 class="w-full absolute text-center text-4xl lg:text-5xl">{title}</h2>
  <p class="invisible w-full h-auto px-6 hover:transition-all text-ellipsis text-sm lg:text-xl">{text}</p> 
</div>