---
import { FiDownload } from 'react-icons/fi'
import { FaLinkedin } from 'react-icons/fa'
---

<section
  id="contact"
  class="h-screen w-screen relative overflow-hidden text-center"
>
  <h1 class="text-center text-white text-4xl font-light underline underline-offset-4 py-8">Contacto</h1>
  <div class="w-full h-full flex flex-col items-center">
    <div class="flex flex-col items-center h-full gap-y-4">
      <a
        href="https://www.linkedin.com/in/crist%C3%B3bal-valderrama-contreras-176275100/"
        target="_blank"
        class="w-full h-auto py-3 px-8 bg-white/10 rounded border border-white/30 text-white flex justify-center items-center gap-x-4 active:scale-95"
      >
        Ir a LinkedIn <FaLinkedin />
      </a>          
      <button
        class=" bg-white/10 rounded border border-white/30 text-white active:scale-95"
      >
        <p class="py-3 px-8 w-full h-full flex justify-center items-center gap-x-4 hover:animate-bounce">Descargar Currículum <FiDownload className=''/></p>
      </button>
    </div>
  </div>
</section>
