---
import CardCredit from "./CardCredit.astro";
---

<section id="credits" class="h-screen w-screen flex flex-col items-center">
  <h2 class={`
    text-center text-3xl w-full text-white font-light py-8 font-text3 visible
    lg:text-5xl lg:font-text2 lg:pt-28 lg:w-full
  `}>Mentores</h2>
  <div class={`
    flex flex-col place-items-center overflow-auto gap-y-4 pb-20
    lg:grid lg:grid-cols-4 lg:grid-flow-rows lg:items-start lg:justify-between lg:gap-4 lg:w-full lg:px-32 lg:h-full lg:pt-4
  `}>
    <CardCredit 
      img="./mentors/midudev.webp"
      nombre="Miguel Ángel Durán"
      texto="Ingeniero de Software, Programador Web y Divulgador sobre Programación."
      altImg="Imagen de Midudev"
    />
    <CardCredit 
      img="./mentors/nicolas.webp"
      nombre="Nicolás Schurmann"
      texto="Ingeniero e instructor de software."
      altImg="Imagen de Nicolas Schurmann"
    />
    <CardCredit 
      img="./mentors/fernando.webp"
      nombre="Fernando Herrera"
      texto="Full Stack developer y profesor."
      altImg="Imagen de Fernando Herrera"
    />
    <CardCredit 
      img="./mentors/alejandro.webp"
      nombre="Alejandro Prado"
      texto="Full Stack developer."
      altImg="Imagen de Fernando Herrera"
    />
  </div>
</section>