---
import SocialMentors from './SocialMentors.astro'
---

<section id="credits" class="h-screen w-screen flex flex-col items-center justify-center">
  <!-- <h2 class={`
    text-center text-3xl w-full text-white font-light py-8 font-text3 visible
    lg:text-5xl lg:font-text2 lg:pt-28 lg:w-full
  `}>Mentores</h2> -->
  <div>
    <SocialMentors />
  </div>
</section>