---
import SocialMentors from './SocialMentors.astro'
---

<section id="credits" class="h-screen w-screen flex flex-col items-center">
  <h2 class={`
    text-center text-3xl w-full text-white font-light py-8 font-text3 visible
    lg:text-5xl lg:font-text2 lg:pt-28 lg:w-full
  `}>Mentores</h2>
  <div class={`
    flex flex-col place-items-center overflow-auto gap-y-4 pb-20
    lg:grid lg:grid-cols-4 lg:grid-flow-rows lg:items-start lg:justify-between lg:gap-4 lg:w-full lg:px-32 lg:h-full lg:pt-4
    [&>div]:flex [&>div]:flex-col [&>div]:w-80 
    [&>div>div]:bg-white/10 [&>div>div]:lg:bg-black/10 [&>div>div]:transition-all [&>div>div]:py-2 [&>div>div]:h-10 [&>div>div]:px-5 [&>div>div]:lg:rounded-xl [&>div>div]:flex [&>div>div]:flex-row [&>div>div]:justify-center [&>div>div]:items-center [&>div>div]:gap-x-2
    [&>div>div>a]:text-white [&>div>div>a]:transition-all [&>div>div>a]:lg:invisible
  `}>
    <SocialMentors />
  </div>
</section>