<section class="overflow-hidden h-screen w-screen relative">
  <div class="text-white pt-10 font-sans flex flex-col items-center">
    <div class="w-full flex flex-col items-center text-center">
      <h1 class="text-5xl pb-2 w-full">Cristóbal Valderrama</h1>
      <h2 class="text-4xl font-extralight w-full">Desarrollador Web</h2>	
    </div>
    <div class="pt-10 w-full flex justify-center">
      <img src="cris.webp" alt="Imagen Cristobal Valderrama tono gris" class="rounded h-80 w-auto">
      <!-- <ul class="text-lg flex flex-col items-center gap-y-2 pl-10 [&>li>a]:place-items-center [&>li]:w-36 [&>li]: [&>li]:py-1 [&>li]:px-2 [&>li]:rounded-lg transition-all">
        <li class="hover:bg-white/5"><a href="#about" class="flex gap-x-4 active:scale-95"><SlUser />Inicio</a></li>
        <li class="hover:bg-white/5"><a href="#projects" class="flex gap-x-4 active:scale-95"><SlFolder />Experiencia</a></li>
        <li class="hover:bg-white/5"><a href="#contact" class="flex gap-x-4 active:scale-95"><SlEnvolope />Contacto</a></li>
      </ul> -->
    </div>
  </div>
</section>