---
import { FiDownload } from 'react-icons/fi'
import { FaLinkedin } from 'react-icons/fa'
import { FaGithub } from 'react-icons/fa'
import { MdEmail } from 'react-icons/md'
---

<section id="home" class="overflow-hidden h-screen w-screen relative z-30">
  <div class={`
    text-white pt-14 font-sans flex flex-col items-center 
    lg:justify-center lg:flex-row lg:h-full lg:flex lg:pt-48
  `}>
    <div class={`
      w-full flex flex-col items-center text-center
      lg:gap-y-4 lg:h-full
    `}>
      <h1 class={`
        text-3xl w-full text-[#ffff]
        lg:text-5xl lg:fixed
        font-title2
      `}
      >CrisTóbAl ValderramA</h1>
      <h2 class={`
        pt-8 text-2xl font-extralight w-full font-title2 text-center underline underline-offset-4 
        lg:text-4xl lg:fixed lg:pt-20
      `}>desarrolladoR Web</h2>	
      <div class={`
        hidden w-auto gap-4 pt-10 [&>a]:transition-all [&>a]:flex [&>a]:items-center [&>a]:border [&>a]:border-white/30 [&>a]:text-white [&>a]:rounded-xl
        lg:grid lg:grid-cols-2 lg:fixed lg:pt-48 lg:[&>a]:justify-start [&>a]:font-text1
      `}>
        <a
          href="https://www.linkedin.com/in/crist%C3%B3bal-valderrama-contreras-176275100/"
          target="_blank"
          class={`
            w-full h-auto py-3 px-8 bg-white/10  gap-x-4 active:scale-[.96]
            lg:hover:bg-white/90 lg:hover:text-black 
          `}
        >
          <FaLinkedin className='animate-pulse' /> Ir a LinkedIn
        </a>
        <a
          href="https://github.com/Cristobal21"
          target="_blank"
          class={`
            w-full h-auto py-3 px-8 bg-white/10 gap-x-4 active:scale-[.96]
            lg:hover:bg-white/90 lg:hover:text-black
          `}
        >
          <FaGithub className='animate-pulse' /> Ir a GitHub
        </a> 
        <a
          href="#"
          onclick="window.open('mailto:tobal.developer@gmail.com');"
          target="_blank"
          class={`
            w-full h-auto py-3 px-8 bg-white/10 gap-x-4 active:scale-[.96]
            lg:hover:bg-white/90 lg:hover:text-black
          `}
        >
          <MdEmail className='animate-pulse'/> Escríbeme
        </a>
        <a
          href="Cristobal-Valderrama.pdf"
          target="_blank"
          download="Cristobal Valderrama"
          class={`
            w-full h-auto py-3 px-8 bg-white/10 gap-x-4 active:scale-[.96]
            lg:hover:bg-white/90 lg:hover:text-black
          `}
        >
          <FiDownload className='animate-bounce'/> Currículum
        </a>
      </div>
    </div>
    <div class={`
      w-full flex justify-center pt-14
      lg:h-full lg:p-0
    `}>
      <img src="cris.webp" alt="Imagen Cristobal Valderrama tono gris" class={`
        rounded h-96 w-auto
        lg:h-[500px] lg:w-auto
      `}>
    </div>
  </div>
</section>