---
import { FiDownload } from 'react-icons/fi'
import { FaLinkedin } from 'react-icons/fa'
import { FaGithub } from 'react-icons/fa'
import { MdEmail } from 'react-icons/md'
---

<section id="home" class="overflow-hidden h-screen w-screen relative z-30 ">
  <div class={`
    text-white font-sans flex flex-col h-full items-center 
    lg:justify-center lg:flex-row lg:h-full lg:flex lg:pt-32 lg:[&>div]:m-4
  `}>
    <div class={`
      w-full h-full transform flex flex-col justify-center items-center text-center rounded-3xl transition-all  ease-in-out duration-500
      lg:h-full lg:flex lg:flex-col lg:items-center lg:justify-center lg:content-start lg:hover:translate-x-32 lg:hover:scale-105 lg:hover:bg-white/10 lg:hover:shadow-inner lg:hover:mr-28
    `}>
      <div class="flex flex-col items-center justify-center lg:h-[600px] lg:max-w-full lg:w-full">
        <h1 class={`
          text-5xl w-full font-title2 text-[#ffff]  
        `}
        >CrisTóbAl ValderramA</h1>
        <h2 class={`
          pt-10 px-4 text-3xl font-extralight w-full font-title2 text-center underline underline-offset-4 
          lg:text-4xl
        `}>desarrolladoR Web</h2>	
      </div>
      <div class={`
        hidden
        lg:grid lg:grid-cols-2 lg:gap-4 lg:h-full lg:content-start
        [&>a]:transition-all [&>a]:w-full [&>a]:py-4 [&>a]:px-9 [&>a]:bg-white/10  [&>a]:gap-x-4 [&>a]:flex lg:[&>a]:justify-start [&>a]:items-center [&>a]:font-text3 [&>a]:border [&>a]:border-white/30 [&>a]:text-white [&>a]:rounded-xl
      `}>
        <a
          href="https://www.linkedin.com/in/crist%C3%B3bal-valderrama-contreras-176275100/"
          target="_blank"
          class={`
            active:scale-[.96]
            lg:hover:bg-white/80 lg:hover:text-slate-700 lg:hover:animate-none
          `}
        >
          <FaLinkedin /> Ir a LinkedIn
        </a>
        <a
          href="https://github.com/Cristobal21"
          target="_blank"
          class={`
            active:scale-[.96]
            lg:hover:bg-white/80 lg:hover:text-slate-700 lg:hover:animate-none
          `}
        >
          <FaGithub /> Ir a GitHub
        </a> 
        <a
          href="#"
          onclick="window.open('mailto:tobal.developer@gmail.com');"
          target="_blank"
          class={`
            active:scale-[.96]
            lg:hover:bg-white/80 lg:hover:text-slate-700 lg:hover:animate-none
          `}
        >
          <MdEmail /> Escríbeme
        </a>
        <a
          href="Cristobal-Valderrama.pdf"
          target="_blank"
          download="Cristobal Valderrama"
          class={`
            active:scale-[.96]
            lg:hover:bg-white/80 lg:hover:text-slate-700
          `}
        >
          <FiDownload className='animate-bounce'/> Currículum
        </a>
      </div>
    </div>
    <div class={`
      transition-all ease-in-out duration-500 transform py-10 w-full h-full flex justify-center items-center rounded-3xl
      lg:h-full lg:hover:ml-28 lg:hover:-translate-x-32 lg:pt-0 lg:hover:scale-105 lg:hover:shadow-inner lg:hover:bg-white/10
    `}>
      <img src="cris.webp" alt="Imagen Cristobal Valderrama tono gris" class={`
        rounded-lg h-72 w-auto 
        lg:h-[25rem]
      `}>
    </div>
  </div>
</section>