---
import CardProject from "./CardProject.astro";
---

<section id="projects" class={`
  h-screen w-screen relative overflow-hidden
  lg:flex lg:flex-col lg:items-center
`}>
  <h1 class={`
    text-white text-3xl text-center font-light pt-10 font-text3 
    lg:text-5xl lg:font-text2 lg:pt-28 lg:w-full
  `}>Proyectos Personales</h1>
  <div class="lg:h-full lg:z-30 lg:w-full">
    <div
      class={`
        flex flex-col justify-between pt-10 gap-y-6 items-center pb-10 max-h-[44rem] overflow-y-auto scroll-behavior-smooth w-full px-6 transition-all
        lg:max-h-full lg:overflow-hidden lg:flex lg:flex-row lg:justify-center lg:items-start lg:pt-28 lg:h-full
      `}
    >
      <CardProject
        title="Despachos App - En Desarrollo"
        description="App para registrar pedidos en una base de datos MongoDB."
        tech={["Tailwindcss", "Javascript", "React", "Node JS", "MongoDB"]}
        urlApp="#"
        urlGithub="#"
      />
      <CardProject
        title="Landing Page - Tesla"
        description="Landing page de tesla.com, la hice junto a mi streamer favorito de Desarrollo Web, Midudev, en un stream en vivo."
        tech={["Tailwindcss", "Javascript", "Astro"]}
        urlApp="https://teslanding.netlify.app"
        urlGithub="https://github.com/Cristobal21/landing-tesla"
      /> 
      <CardProject
        title="Weather App"
        description="Buscador que muestra la información del clima de algún lugar de latinoamerica, los datos se obtienen de OpenWeather API."
        tech={["Bootstrap", "Javascript", "React", "Css", "Api"]}
        urlApp="https://weather-latino.netlify.app/"
        urlGithub="https://github.com/Cristobal21/Weather-app"
      />
    </div>
  </div>
</section>
