---
import CardProject from "./CardProject.astro";
---

<section id="projects" class={`
  h-screen w-screen relative overflow-hidden
  lg:flex lg:justify-end
`}>
  <div class="lg:w-1/2 lg:h-full lg:pt-20 lg:z-30">
    <h1 class={`
      text-white text-3xl text-center font-light py-8 font-text3 lg:font-text2
      lg:text-5xl
    `}>Proyectos Personales</h1>
    <div
      class={`
        flex flex-col gap-3 w-full px-10 pt-10 transition-all
      `}
    >
      <CardProject
        title="Despachos App - En Desarrollo"
        description="App para registrar pedidos en una base de datos MongoDB."
        tech={["Tailwindcss", "Javascript", "React", "Node JS", "MongoDB"]}
        urlApp="#"
        urlGithub="#"
      />
      <CardProject
        title="Landing Page - Tesla"
        description="Una simple Landing page de tesla.com."
        tech={["Tailwindcss", "Javascript", "Astro"]}
        urlApp="https://teslanding.netlify.app"
        urlGithub="https://github.com/Cristobal21/landing-tesla"
      /> 
      <CardProject
        title="Weather App"
        description="Buscador que muestra la información del clima de algún lugar de latinoamerica, los datos se obtienen de OpenWeather API."
        tech={["Bootstrap", "Javascript", "React", "Css", "Api"]}
        urlApp="https://weather-latino.netlify.app/"
        urlGithub="https://github.com/Cristobal21/Weather-app"
      />
    </div>
  </div>
</section>
