---
import CardCredit from "./CardCredit.astro";
import { FaLinkedin } from 'react-icons/fa'
import { FaGithub } from 'react-icons/fa'
import { FaYoutube } from 'react-icons/fa'
import { FaTwitch } from 'react-icons/fa'
import { FaInstagram } from 'react-icons/fa'
import { FaXTwitter } from 'react-icons/fa6'
---

<section class={`
  flex flex-col items-center overflow-auto gap-y-4
  lg:grid lg:grid-cols-4 lg:grid-flow-rows lg:items-start lg:justify-between lg:gap-x-2 lg:w-full lg:px-32 lg:h-full lg:pt-4
`}>
<!-- Midudev -->
  <div class={`
    lg:flex lg:flex-col lg:items-center lg:justify-center lg:transform lg:w-full`}>
    <CardCredit 
      img="./mentors/midudev.webp"
      nombre="Miguel Ángel Durán"
      texto="Ingeniero de Software, Programador Web y Divulgador sobre Programación."
      altImg="Imagen de Midudev"
    />
    <div class={`transition-all bg-black/30 w-full
      lg:h-10 lg:py-6 lg:w-full lg:rounded-b-lg lg:flex lg:justify-center lg:items-center lg:gap-x-5
    [&>a]:text-white [&>a]:transition-all [&>a]:p-1
    `}>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://es.linkedin.com/in/midudev" target="_blank"><FaLinkedin /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://github.com/midudev" target="_blank"><FaGithub /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://www.youtube.com/c/midudev" target="_blank"><FaYoutube /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://www.twitch.tv/midudev" target="_blank"><FaTwitch /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://www.instagram.com/midu.dev/" target="_blank"><FaInstagram /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://twitter.com/midudev" target="_blank"><FaXTwitter /></a>
    </div>
  </div>
<!-- Nicolas Schurmann -->
  <div class={`
    lg:flex lg:flex-col lg:items-center lg:justify-center lg:transform lg:w-full`}>
    <CardCredit 
      img="./mentors/nicolas.webp"
      nombre="Nicolás Schurmann"
      texto="Ingeniero e Instructor de Software."
      altImg="Imagen de Nicolas Schurmann"
    />
    <div class={`transition-all bg-black/30 w-full
      lg:h-10 lg:py-6 lg:w-full lg:rounded-b-lg lg:flex lg:justify-center lg:items-center lg:gap-x-5
    [&>a]:text-white [&>a]:transition-all [&>a]:p-1
    `}>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://nz.linkedin.com/in/nicolasschurmann" target="_blank"><FaLinkedin /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://github.com/nschurmann" target="_blank"><FaGithub /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://www.youtube.com/c/HolaMundoDev" target="_blank"><FaYoutube /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://twitter.com/_nasch_?lang=es" target="_blank"><FaXTwitter /></a>
    </div>
  </div>
<!-- Fernando Herrera -->
  <div class={`
    lg:flex lg:flex-col lg:items-center lg:justify-center lg:transform lg:w-full`}>
    <CardCredit 
      img="./mentors/fernando.webp"
      nombre="Fernando Herrera"
      texto="Desarrollador Full Stack y profesor."
      altImg="Imagen de Fernando Herrera"
    />
    <div class={`transition-all bg-black/30 w-full
      lg:h-10 lg:py-6 lg:w-full lg:rounded-b-lg lg:flex lg:justify-center lg:items-center lg:gap-x-5
    [&>a]:text-white [&>a]:transition-all [&>a]:p-1
    `}>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://ca.linkedin.com/in/fernando-herrera-b6b204200" target="_blank"><FaLinkedin /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://github.com/Klerith" target="_blank"><FaGithub /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://www.youtube.com/channel/UCuaPTYj15JSkETGnEseaFFg" target="_blank"><FaYoutube /></a>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://twitter.com/Fernando_Her85" target="_blank"><FaXTwitter /></a>
    </div>
  </div>
<!-- Alejandro Prado -->
  <div class={`
    lg:flex lg:flex-col lg:items-center lg:justify-center lg:transform lg:w-full`}>
    <CardCredit 
      img="./mentors/alejandro.webp"
      nombre="Alejandro Prado"
      texto="Desarrollador Full Stack."
      altImg="Imagen de Alejandro Prado"
    />
    <div class={`transition-all bg-black/30 w-full
      lg:h-10 lg:py-6 lg:w-full lg:rounded-b-lg lg:flex lg:justify-center lg:items-center lg:gap-x-5
    [&>a]:text-white [&>a]:transition-all [&>a]:p-1
    `}>
      <a class="hover:bg-white/20 hover:scale-150 hover:rounded-full" href="https://cl.linkedin.com/in/alejandro-prado-prado" target="_blank"><FaLinkedin /></a>
    </div>
  </div>
</section>