---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background-color: #0b192e; */
		background-color: #062d40;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	@font-face {
		font-family: "FontBold";
		src: url("../fonts/FilsonProBold.otf") format("otf"),
			url("../fonts/FilsonPro-Bold.woff") format("woff"),
			url("../fonts/FilsonPro-Bold.woff2") format("woff2");
	}

	@font-face {
		font-family: "FontLight";
		src: url("../fonts/FilsonProLight.otf") format("otf"),
			url("../fonts/FilsonPro-Light.woff") format("woff"),
			url("../fonts/FilsonPro-Light.woff2") format("woff2");
	}

	@font-face {
		font-family: "FontBook";
		src: url("../fonts/FilsonPro-Book") format("ttf"),
			url("../fonts/FilsonPro-Book.woff") format("woff"),
			url("../fonts/FilsonPro-Book.woff2") format("woff2");
	}

	@font-face {
		font-family: "FontMedium";
		src: url("../fonts/FilsonPro-Medium") format("ttf"),
			url("../fonts/FilsonPro-Medium.woff") format("woff"),
			url("../fonts/FilsonPro-Medium.woff2") format("woff2");
	}

	@font-face {
		font-family: "FontMajor";
		src: url("../fonts/MajorMonoDisplay-Regular") format("ttf");
	}
</style>
